<header class="masthead">
  <nav class="language-nav">
    <ul>
      <li><a href="CSS">CSS</a></li>
      <li><a href="HTML">HTML</a></li>
      <li><a href="Javascript">Javascript</a></li>
      <li><a href="Ruby">Ruby</a></li>
    </ul>
  </nav>
  <img class="logo" src="assets/AA_Times_Logo.png">
  <nav class="masthead-links">
    <ul>
      <li>Tuesday, October 18, 2016</li>
      <li><i class="far fa-newspaper"></i><a href="paper">Today’s Paper</a></li>
      <li><i class="fas fa-video"></i><a href="video">Video</a></li>
      <li><span>77°F</span></li>
      <li><span>AAO <strong>+100%</strong></span></li>
    </ul>
  </nav>
</header>

